body{
	background-color: #c5b86d;
}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

.ba-checkers {
	position: absolute;
	margin: auto;
	width: 80vmin;
	height: 80vmin;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	border: 25px solid #fff;
	background: #fffadc;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

[class*="side"] {
	position: absolute;
	border: 2px solid #000;
	height: 50%;
	width: 100%;
}

.ba-side-top {
	border-bottom: none;
}

.ba-side-bottom {
	top: 50%;
	border-top: none;
}

.ba-row {
	position: absolute;
	width: 100%;
	height: 25%;
}

.ba-row:nth-child(2) {
	top: 25%;
}

.ba-row:nth-child(3) {
	top: 50%;
}

.ba-row:nth-child(4) {
	top: 75%;
}

.ba-row div {
	position: absolute;
	width: 12.5%;
	height: 100%;
	top:0;
	border: 2px solid #000;
}

.ba-row div:first-child {
	left: 0;
}

.ba-row div:nth-child(2) {
	left: 12.5%
}

.ba-row div:nth-child(3) {
	left: 25%
}

.ba-row div:nth-child(4) {
	left: 37.5%
}

.ba-row div:nth-child(5) {
	left: 50%
}

.ba-row div:nth-child(6) {
	left: 62.5%
}

.ba-row div:nth-child(7) {
	left: 75%
}

.ba-row div:nth-child(8) {
	left: 87.5%
}

.ba-row:nth-child(odd) div:nth-child(odd),
.ba-row:nth-child(2n) div:nth-child(2n) {
	background-image: url("../img/wood.jpg");
}

.ba-row:nth-child(odd) div:nth-child(odd):after,
.ba-row:nth-child(2n) div:nth-child(2n):after {
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 75%;
	height: 75%;
	border-radius: 50%;
	background-color: #720c0c;
	border: 2px solid #000;
	box-shadow: 0 6px 6px rgba(0, 0, 0, 0.8);
	cursor: pointer;
}
